{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "field": "processRefund",
    "arguments": $util.toJson($context.arguments),
    "identity": {
      "sub": "$context.identity.sub",
      "username": "$context.identity.username"
    }
  }
}
