## Query.getEventTracklist Request Mapping Template
## TODO: This requires a Tracks table to be created
## For now, return empty array to prevent errors

{
  "version": "2017-02-28",
  "operation": "Scan",
  "limit": 0
}
