node_modules/
dist/
.expo/
.expo-shared/
.turbo/
.parcel-cache/
.next/
coverage/
build/
pnpm-lock.yaml
*.log
*.lock-wscript
tmp.lock
*.tsbuildinfo
.env.local
.env.development.local
.env.production.local
.env.test.local
web/dist/
web/node_modules/
mobile/.expo/
mobile/node_modules/
infra/.terraform/
infra/terraform.tfstate*
