# Development Environment Configuration
environment = "dev"
aws_region  = "us-east-1"

# Yoco Payment - TEST KEYS
yoco_secret_key = "sk_test_867460e0J1G4zymb24749b0b73f3"
yoco_public_key = "pk_test_55442acfyW53Xb9e1e64"

# Alert email
alert_email = "dev-alerts@beatmatchme.com"
